/* Apply a reset to remove default margins and paddings */
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    position: absolute;
    right: 25px;
    top: 20px;
}

.options {
    display: flex;
    gap: 10px;
}

.options a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 18.5px;
    color: #572af8;
    padding: 10px;
}



.image {
    width: 50%;
}

img {
    max-width: 100%;
    height: 730px;
    display: block;
}

.content {
    width: 50%;
    padding: 20px;
}

h1 {
    font-size: 53.76px;
    margin-bottom: 10px;
    
}

p {
    font-size: 16px;
    line-height: 25px;
}


.search {
    width: 500px;
}

.search input{
    height: 50px;
    width: 100%;
    border-radius: 42px;
    background-color: #fbfbfc;
    border-color: #572af8;
    font-size: 17px;
    padding-left: 5%;
}





.button1{
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-bottom: none;
    background-color:#572af8;
    cursor: pointer;

}

button:hover{
    background-color:#3a1aac;
}

.content input{
    border: 1px solid  #572af8;
    color: black;
    text-align: justify;
    margin-bottom: 2rem;
}



footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0%;
    color: #fff;
    /* border-top-left-radius: 125px; */
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
    background:linear-gradient(to right,  #02040e, #1e0578 )
}

.row{
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}


.email-id{
    width: fit-content;
    border-bottom: 1px solid #fff;
    margin: 20px 0;

}

ul li{
    list-style-type: none;
    margin-bottom: 12px;
}

a{
    text-decoration: none;
    color: #fff;
}

.footer-form{
    padding-bottom: 15px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
}

form .fa{
    font-size: 20px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    color: #ccc;

}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    
}

form button .fas {
    font-size: 20px;
    color: #fff;
}
.container2
{
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    /* display: block; */
}
.middle{
    text-align: center;
}


.middle-image{
    display: flex;
    font-size: 14px;
    max-width: 100%;
    width: 1450px;
}

.everyone-1{
    height: auto;
    text-align: center;
    position: relative;
    max-width: 100%;
    width: 500px;

}
.car{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    align-items: center;
}


.car{
    width: 200px;
    height: 200px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 42px;
}
.paragraph{
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

.h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

section{
    display: flex;
    padding-left: 190px;
    padding-right: 190px;
    /* text-align: center; */
    margin: 20px;
}

.restaurant{
    display: flex;
    height: 550px;

}

.image2{
    height: 400px;
}

.restaurant div{
    width: 50%;
    margin: 64px 0px;
    /* text-align: center; */
   
}

.pickup{
    padding-top: 80px;
}

.pickup h2{
    font-weight: 1200;
    
}

section .owner{
    width: 50%;
    margin-top: 20px;
    text-align: center;
}

section .paragraph2{
    width: 50%;
}

.paragraph2{
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.last-section{
    background-color: #efefef;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}




/*  loader */

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url("./images/loader.gif") no-repeat center center;
    z-index: 10000;
}

.stop{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url("./images/loader.gif") no-repeat center center;
    z-index: 10000;
    display: none;
}